@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body{
  max-width: 50%; /*if below max-width, it will it will shrink*/
  width: 700px;
  border: 20px solid #bdc3c7;
  margin: 20px auto 0 auto;
  padding: 20px;

  font-family: Gaegu;
}

.date{
  color: #3498db;
  text-transform: uppercase; /*make all text uppercase*/
  letter-spacing: 1.5rem; /*space b/w letter (px or rem)*/
}

.bl{
  border-left: 4px solid #bdc3c7;
  padding-left: 10px;
}

/*<hr> style*/
hr{
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "FCB";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}