body{
	background-color: #232323;
}

.square{
	width: 40%;
	border: 2px red solid;
	
	padding-top: 30%;
	float: left;
	margin: 1.5%;
}

#container{
	max-width: 33%;
	margin: 0 auto;
}

#msg{
	color: white;
}